
body {
    margin: 0;
    background-color: #111;
    color: #4fffea;
    font-family: Arial, sans-serif;
    text-align: center;
}
canvas {
    background-color: #1e1e1e;
    display: block;
    margin: 20px auto;
    border: 2px solid #4fffea;
}
