
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #00ffcc;
    text-align: center;
}
canvas {
    background-color: #083d13;
    display: block;
    margin: 20px auto;
    border: 3px solid #00ffcc;
}
#score {
    font-size: 18px;
}
